In [ ]:
import pandas as pd
import json
import date_cmp as dc
from pathlib import Path
import analysis_logic as ayl
import floor as flo
import os

In [ ]:
deal = pd.read_csv('(월) 거래규모별 아파트거래현황.csv')
all_ = deal.iloc[3:12, 4:6]
all_['2020년 6월'] = all_['2020년 6월'].str.replace('[",]', '', regex=True).astype(int)

plt.figure(figsize=(15, 8))
plt.bar(all_['규모'], all_['2020년 6월'])
plt.title('전국 아파트 면적당 거래량')
plt.xlabel('거래 면적')
plt.ylabel('면적 당 거래 건수')
plt.show()

In [1]:
import pandas as pd

In [3]:
deal = pd.read_csv('(월) 거래규모별 아파트거래현황.csv')

In [4]:
deal

        No  지역  지역.1  지역.2        규모   2020년 6월 2020년 6월.1
0       No  지역    지역    지역        규모      동(호)수         면적
1       No  지역    지역    지역        규모      동(호)수         천㎡
2        1  전국    전국    전국        합계  "158,348"   "12,120"
3        2  전국    전국    전국     20㎡이하    "1,147"         13
4        3  전국    전국    전국    21~40㎡    "8,136"        284
...    ...  ..   ...   ...       ...        ...        ...
3007  3006  제주  서귀포시  서귀포시   86~100㎡          1          0
3008  3007  제주  서귀포시  서귀포시  101~135㎡          3          0
3009  3008  제주  서귀포시  서귀포시  136~165㎡          0          0
3010  3009  제주  서귀포시  서귀포시  166~198㎡          0          0
3011  3010  제주  서귀포시  서귀포시    198㎡초과          0          0

[3012 rows x 7 columns]

In [6]:
all_ = deal.iloc[3:12, 4:6]
all_['2020년 6월'] = all_['2020년 6월'].str.replace('[",]', '', regex=True).astype(int)

          규모  2020년 6월
3      20㎡이하      1147
4     21~40㎡      8136
5     41~60㎡     50127
6     61~85㎡     78927
7    86~100㎡      2855
8   101~135㎡     13974
9   136~165㎡      2357
10  166~198㎡       624
11    198㎡초과       201

In [ ]:
plt.figure(figsize=(15, 8))
plt.bar(all_['규모'], all_['2020년 6월'])
plt.title('전국 아파트 면적당 거래량')
plt.xlabel('거래 면적')
plt.ylabel('면적 당 거래 건수')
plt.show()

In [10]:

output = {
    "면적": all_.to_dict(orient='records')
    
}

In [12]:
for key, value in output.items():
    file_name = f"{key}.json"
    with open(file_name, "w", encoding="utf-8") as f:
        json.dump({key: value}, f, ensure_ascii=False, indent=2, default=str)
    print(f"{file_name} 저장 완료 ({len(value)}건)")

면적.json 저장 완료 (9건)