In [28]:
import pandas as pd
import json
import date_cmp as dc
from pathlib import Path
import analysis_logic as ayl
import os

In [24]:
df = pd.read_csv('../data/apttest.csv')

In [25]:
ayl_1 = ayl._load_and_clean_data()
ayl_1[0]

,시도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,서울특별시,17545,16515,15521,7332,9767,15761,24038,12277,13207,10276,10548,14060
1,부산광역시,11037,8456,8762,6846,6983,13588,13397,8636,9313,11502,18932,15122
2,대구광역시,7025,8725,4874,4026,5581,8561,11089,7244,12306,10372,9322,10873
3,인천광역시,18841,13637,15049,6792,9258,12911,9456,9042,8656,5144,4471,7969
4,광주광역시,3524,8878,3181,2330,3281,3783,4724,3486,2981,3225,8982,7240
5,대전광역시,4165,4354,3483,2750,3085,8165,3693,2323,1895,2115,4190,3890
6,울산광역시,2885,3281,1990,1233,1581,2661,5964,1957,2519,2273,6537,4892
7,세종특별자치시,2159,1824,1191,776,1527,1577,8988,2870,1328,715,644,1615
8,경기도,38053,53407,43226,26861,28200,52000,52315,30564,30616,36782,33524,50371
9,강원도,4173,5080,3572,3156,3522,4514,4578,2909,3599,3209,3630,4606
10,충청북도,3695,3932,3063,2716,6598,5848,2793,2051,2861,2383,3277,4429
11,충청남도,4165,4390,4570,4063,4009,6480,6748,5394,6571,6694,6377,9698
12,전라북도,4152,3897,3120,2506,3623,4023,4634,3327,3155,3738,4873,6851
13,전라남도,2361,4265,3180,4154,4787,4266,5982,2986,4176,4381,3628,5000
14,경상북도,3968,4213,3142,3184,4171,6300,5350,3736,3721,4473,6647,10297
15,경상남도,8962,7322,5464,4040,6326,7519,8973,7832,6640,6101,11781,14391
16,제주특별자치도,415,366,333,247,232,391,499,335,300,383,574,1055

In [26]:
df = dc.clean_date_column(df ,'거래일')
day_result = dc.day_stat(df , '거래일', '거래금액')
week_result = dc.week_stat(df , '거래일', '거래금액')
month_result = dc.month_stat(df , '거래일', '거래금액')
year_result = dc.year_stat(df , '거래일', '거래금액')
floor_result = flo.floor_home(df['층'])
monthly_volume_result = ayl_1[0] 
monthly_area_result = ayl_1[1]

In [20]:
monthly_area_result

,시도,시군구,1월_호수,1월_면적,2월_호수,2월_면적,3월_호수,3월_면적,4월_호수,4월_면적,...,8월_호수,8월_면적,9월_호수,9월_면적,10월_호수,10월_면적,11월_호수,11월_면적,12월_호수,12월_면적
0,서울특별시,소계,17545,1217,16515,1186,15521,1027,7332,450,...,12277,861,13207,894,10276,651,10548,708,14060,983
1,부산광역시,소계,11037,846,8456,681,8762,675,6846,502,...,8636,660,9313,731,11502,892,18932,1482,15122,1109
2,대구광역시,소계,7025,564,8725,675,4874,369,4026,308,...,7244,567,12306,961,10372,836,9322,736,10873,853
3,인천광역시,소계,18841,1511,13637,1025,15049,1189,6792,493,...,9042,665,8656,636,5144,374,4471,322,7969,587
4,광주광역시,소계,3524,269,8878,702,3181,243,2330,171,...,3486,436,2981,227,3225,249,8982,715,7240,559
5,대전광역시,소계,4165,316,4354,322,3483,254,2750,191,...,2323,164,1895,137,2115,154,4190,328,3890,285
6,울산광역시,소계,2885,228,3281,252,1990,155,1233,94,...,1957,149,2519,193,2273,179,6537,500,4892,365
7,세종특별자치시,소계,2159,176,1824,147,1191,97,776,59,...,2870,194,1328,83,715,47,644,40,1615,130
8,경기도,소계,38053,2938,53407,4131,43226,3296,26861,2024,...,30564,2339,30616,2352,36782,2804,33524,2486,50371,3815
9,강원도,소계,4173,313,5080,375,3572,266,3156,231,...,2909,206,3599,280,3209,242,3630,258,4606,325
10,충청북도,소계,3695,277,3932,291,3063,219,2716,195,...,2051,143,2861,203,2383,163,3277,228,4429,305
11,충청남도,소계,4165,313,4390,319,4570,339,4063,287,...,5394,379,6571,501,6694,505,6377,469,9698,728
12,전라북도,소계,4152,319,3897,298,3120,230,2506,186,...,3327,259,3155,245,3738,284,4873,367,6851,500
13,전라남도,소계,2361,173,4265,326,3180,236,4154,308,...,2986,221,4176,298,4381,329,3628,266,5000,392
14,경상북도,소계,3968,300,4213,318,3142,235,3184,235,...,3736,281,3721,277,4473,329,6647,489,10297,777
15,경상남도,소계,8962,671,7322,488,5464,389,4040,287,...,7832,600,6640,508,6101,465,11781,895,14391,1102
16,제주특별자치도,소계,415,27,366,26,333,23,247,17,...,335,24,300,22,383,28,574,42,1055,79

In [9]:

output = {
    "일간": day_result.to_dict(orient='records'),
    "주간": week_result.to_dict(orient='records'),
    "월간": month_result.to_dict(orient='records'),
    "년간": year_result.to_dict(orient='records'),
    "층별": floor_result.to_dict(orient='records'),
    "아파트 거래량" : monthly_volume_result.to_dict(orient='records'),
    "아파트 거래 면적" : monthly_area_result.to_dict(orient='records')
}

In [10]:
with open('result.json', 'w', encoding='utf-8') as f:
    json.dump(output, f, ensure_ascii=False, default=str)

In [29]:
from pathlib import Pathoutput = {
    "일간": day_result.to_dict(orient='records'),
    "주간": week_result.to_dict(orient='records'),
    "월간": month_result.to_dict(orient='records'),
    "년간": year_result.to_dict(orient='records'),
    "층별": floor_result.to_dict(orient='records'),
    "아파트 거래량": monthly_volume_result.to_dict(orient='records'),
    "아파트 거래 면적": monthly_area_result.to_dict(orient='records')
}

# 출력 폴더 생성
# base_dir = Path("output_json")
# base_dir.mkdir(exist_ok=True)

# 각 항목별 JSON 파일 저장
for key, value in output.items():
    file_path = f"{key}.json"
    with open(file_path, "w", encoding="utf-8") as f:
        json.dump({key: value}, f, ensure_ascii=False, indent=2, default=str)
    print(f"{file_path.name} 저장 완료 ({len(value)}건)")

일간.json 저장 완료 (294건)
주간.json 저장 완료 (43건)
월간.json 저장 완료 (10건)
년간.json 저장 완료 (1건)
층별.json 저장 완료 (4건)
아파트 거래량.json 저장 완료 (17건)
아파트 거래 면적.json 저장 완료 (17건)