In [1]:
import pandas as pd
import json
import date_cmp as dc
from pathlib import Path
import analysis_logic as ayl
import floor as flo
import os

In [5]:
df = pd.read_csv('../data/apttest.csv')

In [18]:
ayl_1 = ayl._load_and_clean_data()
ayl_1[0]

,시도,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,서울특별시,17545,16515,15521,7332,9767,15761,24038,12277,13207,10276,10548,14060
1,부산광역시,11037,8456,8762,6846,6983,13588,13397,8636,9313,11502,18932,15122
2,대구광역시,7025,8725,4874,4026,5581,8561,11089,7244,12306,10372,9322,10873
3,인천광역시,18841,13637,15049,6792,9258,12911,9456,9042,8656,5144,4471,7969
4,광주광역시,3524,8878,3181,2330,3281,3783,4724,3486,2981,3225,8982,7240
5,대전광역시,4165,4354,3483,2750,3085,8165,3693,2323,1895,2115,4190,3890
6,울산광역시,2885,3281,1990,1233,1581,2661,5964,1957,2519,2273,6537,4892
7,세종특별자치시,2159,1824,1191,776,1527,1577,8988,2870,1328,715,644,1615
8,경기도,38053,53407,43226,26861,28200,52000,52315,30564,30616,36782,33524,50371
9,강원도,4173,5080,3572,3156,3522,4514,4578,2909,3599,3209,3630,4606
10,충청북도,3695,3932,3063,2716,6598,5848,2793,2051,2861,2383,3277,4429
11,충청남도,4165,4390,4570,4063,4009,6480,6748,5394,6571,6694,6377,9698
12,전라북도,4152,3897,3120,2506,3623,4023,4634,3327,3155,3738,4873,6851
13,전라남도,2361,4265,3180,4154,4787,4266,5982,2986,4176,4381,3628,5000
14,경상북도,3968,4213,3142,3184,4171,6300,5350,3736,3721,4473,6647,10297
15,경상남도,8962,7322,5464,4040,6326,7519,8973,7832,6640,6101,11781,14391
16,제주특별자치도,415,366,333,247,232,391,499,335,300,383,574,1055

In [ ]:
df = dc.clean_date_column(df ,'거래일')
day_result = dc.day_stat(df , '거래일', '거래금액')
week_result = dc.week_stat(df , '거래일', '거래금액')
month_result = dc.month_stat(df , '거래일', '거래금액')
year_result = dc.year_stat(df , '거래일', '거래금액')
floor_result = flo.floor_home(df['층'])
monthly_volume_result = ayl_1[0] 
monthly_area_result = ayl_1[1]

In [6]:
ffff=flo.floor_home(df['층'])
ffff

        0       1        2       3
0   1층~5층  6층~10층  11층~15층  16층 이상
1  124032   99863    84402   56216

In [8]:

    deck1_5 = 0
    deck6_10 = 0
    deck11_15 = 0
    deck16 = 0
    for i in df['층']:
        if 5 >= i >= 1:
            deck1_5 += 1
        elif 10 >= i >= 6:
            deck6_10 += 1
        elif 15 >= i >= 11:
            deck11_15 += 1
        else:
            deck16 += 1
    dk = [deck1_5, deck6_10, deck11_15, deck16]
    labels = ['1층~5층', '6층~10층', '11층~15층', '16층 이상']
    ddk = [labels, dk]
    return pd.DataFrame(ddk import= labels)

SyntaxError: invalid syntax (1999979055.py, line 17)

In [ ]:
df['층']

In [ ]:
monthly_area_result

In [ ]:

output = {
    "일간": day_result.to_dict(orient='records'),
    "주간": week_result.to_dict(orient='records'),
    "월간": month_result.to_dict(orient='records'),
    "년간": year_result.to_dict(orient='records'),
    "층별": floor_result.to_dict(orient='records'),
    "아파트 거래량" : monthly_volume_result.to_dict(orient='records'),
    "아파트 거래 면적" : monthly_area_result.to_dict(orient='records')
}

In [ ]:
with open('result.json', 'w', encoding='utf-8') as f:
    json.dump(output, f, ensure_ascii=False, default=str)

In [ ]:
output = {
    "일간": day_result.to_dict(orient='records'),
    "주간": week_result.to_dict(orient='records'),
    "월간": month_result.to_dict(orient='records'),
    "년간": year_result.to_dict(orient='records'),
    "층별": floor_result.to_dict(orient='records'),
    "아파트 거래량": monthly_volume_result.to_dict(orient='records'),
    "아파트 거래 면적": monthly_area_result.to_dict(orient='records')
}

# 각 항목별 JSON 파일 저장 (현재 폴더에 저장)
for key, value in output.items():
    file_name = f"{key}.json"
    with open(file_name, "w", encoding="utf-8") as f:
        json.dump({key: value}, f, ensure_ascii=False, indent=2, default=str)
    print(f"{file_name} 저장 완료 ({len(value)}건)")